<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwgVqneTQFO2CBZfhLy0XIt5hzi5fIf7c</string>
	<key>GCM_SENDER_ID</key>
	<string>178145906347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aulittle.ios</string>
	<key>PROJECT_ID</key>
	<string>aulittle-4dd7a</string>
	<key>STORAGE_BUCKET</key>
	<string>aulittle-4dd7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178145906347:ios:a1f39c6ef96bee89a4b1ee</string>
</dict>
</plist>